[Unit]
Description=Celery Service
After=network.target

[Service]
Type=forking
User=daily-informer
Group=daily-informer
ExecStart=/bin/sh /opt/daily-informer/serverfiles/start.sh ##ADD PATH TO startup.sh HERE##

[Install]
WantedBy=multi-user.target